.formSection {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputDiv input {
  width: 250px;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitBtn {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: darkblue;
}

.formSection h2{
  color: white;
}


.empform {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  padding-top: 40px;
}

.section {
  background-color: #000000;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
}

.section form {
  display: flex;
  flex-direction: column;
}

.section label {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 14px;
}

.section input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}
.section button {
  width: 100px;
  padding: 8px;
  background-color: #3b5bdb;   /* Blue like video */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.section button:hover {
  background-color: #2f4fcc;
}

